header {
    position: relative;
    height: 65px;
    margin-bottom: 36px;
    width: 100%;
    top: 0;
    left: 0;
}

/* Base class for NavBar */
.NavBar--wrapper {
    --padding-horizontal: 37px;
    --padding-vertical: 25px;
    position: fixed;
    width: calc(100% - 2 * var(--padding-horizontal));
    height: calc(65px - 2 * var(--padding-vertical));
    padding: var(--padding-vertical) var(--padding-horizontal);
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.NavBar--wrapper > h2 {
    display: none;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    color: #ffffff;
}

@media screen and (min-width: 550px) {
    .NavBar--wrapper > h2 {
        display: block;
    }
}
